* {
    box-sizing: border-box;
  }
body {
    background-image: url("../images/darkness.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

header {
    color: rgb(219,234,173);
    font-size: 2em;
    text-align: center;
    font-family: 'Monoton', cursive;
    margin: 10px;
}
#user-input {
    font-family: 'Kalam', cursive;
    text-align: center;
}

#buttons {
    font-family: 'Kalam', cursive;
    text-align: center;
    padding: 5px 15px;
}

button {
    background-color: rgb(219,234,173);
    padding: 5px 15px;
    margin: 5px;
}

button:hover {
    opacity: 0.6;
   background-color: rgb(107, 134, 24);
}

#add-holiday {
    background-color: rgb(99, 129, 6);
    padding: 5px 15px;
    margin: 5px;
    font-size: 1em;
    font-weight: bold;
}

#header {
    margin: 15px;
}

.gifs-here {
    position: relative;
    margin-top: 25px;
}
.gifs {
    font-family: 'Fira Mono', monospace;
    width: 33%;
    display: inline-block;
    clear: left;
    overflow: auto;
    text-align: center;
}

img {
    float: left;
    margin: 10px;
    width: 90%;
    height: 200px;
}

img:hover {
    opacity: 0.8;
    transform: rotate(-5deg);
}

p {
    clear: left;
    display: block;
    color: rgb(255,220,115)
}
